body { 
    background-color: cornsilk;
}

h3 { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet; 
    font-size: medium;
    font-style: italic;
    font-weight: bold;
}